@import '/src/styles.scss';

.sidebar {
  display: inline-flex;
  height: 753px;
  width: 206px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: $Neutral-1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  margin-right: 2px;
}

.sidebar__task-group-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: $Neutral-1;
}

.sidebar__task-group-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 16px 0 24px;
  align-items: center;
  align-self: stretch;
}

.sidebar__task-group-item.selected .sidebar__task-group-name {
  color: $Primary-6;
}

.sidebar__task-group-item:hover {
  background-color: #E6F7FF;
  cursor: pointer;
}

.sidebar__task-group-item:hover .sidebar__task-group-name {
  color: $Primary-6;
}

.sidebar__task-group-item:hover .delete-icon {
  fill: $Dust-Red-5;
}

.sidebar__task-group-item:hover::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: $Primary-6;
}

.sidebar__task-group-name {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.sidebar__control-panel {
  display: flex;
  height: 40px;
  padding: 0 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: $Neutral-3;
  border: none;
}

.sidebar__add-task-button {
  color:  #434343;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  padding: 0;
  margin: 0;
}
